* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(85, 85, 85);
}


#drawnBoard {
    height: 40rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
}

.row {
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cell {
    height: 12rem;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(188, 110, 123) 2px solid;
    border-radius: 1rem;
    box-shadow: rgba(73, 20, 29, 0.5) 1px 2px 3px;
    background-color: pink;
    transition: height 0.25s, width 0.25s, transform 0.25s;
}

.cell:hover {
    height: 12.5rem;
    width: 12.5rem;
    cursor: pointer;
    background-color: rgb(218, 144, 158);
}

.cell:active {
    height: 12rem;
    width: 12rem;
}

.x, .o {
    height: 80%;
    width: 80%;
}

.finishedx {
    background-image: url(./Images/ex-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 72%;
}

.finishedo {
    background-image: url(./Images/circo-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

#xStroke1, #xStroke2 {
    stroke-dasharray: 113.13708498984761; 
    stroke-dashoffset: 113.13708498984761;
}

#xStroke1 {
    animation: xStroke1 0.5s ease forwards;
}

#xStroke2 {
    animation: xStroke2 0.5s ease forwards 0.5s; 
}

@keyframes xStroke1 {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes xStroke2 {
    to {
        stroke-dashoffset: 0;
    }
}

.o circle{
    stroke-dasharray: 282.7433388230814;
    stroke-dashoffset: 282.7433388230814;
    animation: oStroke 1s ease forwards;
}

@keyframes oStroke {
    to {
        stroke-dashoffset: 0;
    }
}

.hidden {
    display: none
}

#HomeScreen {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

#mainTitle {
    margin-top: 4rem;
    height: 6rem;
    font-size: 4rem;
    color: pink;
}

.cardContainer {
    height: 30rem;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.playerCard {
    height: 25rem;
    width: 25rem;
    background-color: white;
    border: none;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: rgba(73, 20, 29);
    color: white;
}

.playerTitle {
    font-size: 4rem;
    margin-top: 2rem;
}

.nameInput {
    height: 2rem;
    width: 15rem;
    border-radius: 1rem;
    border: none;
    text-align: center;
    font-size: 1rem;
    background-color: rgb(255, 244, 245);
}

#playBtn {
    height: 4rem;
    width: 25rem;
    border: none;
    border-radius: 1.5rem;
    box-shadow: rgba(73, 20, 29, 0.5) 1px 2px 3px;
    background-color: pink;
    font-size: 1.25rem;
    color: rgba(73, 20, 29);
    cursor: pointer;
}

#playBtn:hover {
    font-size: 1.5rem;
}